/* ReserveCal*/
#bbkreservcal{
    width:99%; 
    font-size:11px; 
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 3em;
}

#bbkreservcal th {
    padding: 0;
    text-align: center;
}
#bbkreservcal tbody td{
    padding: 8px 2px;
    border: 2px solid #fff;
    font-size:10px;
    cursor: default; 
    text-align: center;
}
#bbkreservcal td.free{
    background-color: #BFFFBF;
}
#bbkreservcal td.free.we{
    color:#fff;
}

#bbkreservcal .accepted,
#bbkreservcal .booked{
    background-color: #FCE3E6;
    color: #7F000E;
}
#bbkreservcal .accepted.we{
    color:#fff;
}
#bbkreservcal .unfinished{
    background-color: #FFE7BC;
    color: #A36A00;
}
#bbkreservcal .unfinished.we{
    color:#fff;
}
